<!DOCTYPE html>
<html>
<head>
  <title>Pays</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">

  <header class="header">
    <div class="container">
      <div class="top-line">
        <img src="assets/img/rndm.png" alt="logo">
        <button @click="addProject()">Add New</button>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container">

      <div class="table">

        <div class="table-header">
          <!--<div class="table-header-info">-->
            <!--<div class="table-length" id="table-length">-->
              <!--<label>Show <select name="table-length" class="form-control">-->
                <!--<option value="10">10</option>-->
                <!--<option value="25">25</option>-->
                <!--<option value="50">50</option>-->
                <!--<option value="100">100</option>-->
              <!--</select> entries</label>-->
              <!--<span>Show completed</span>-->
            <!--</div>-->
            <!--<div id="table-search" class="table-search">-->
              <!--<input type="search" class="form-control" placeholder="Search">-->
            <!--</div>-->
          <!--</div>-->

          <div class="table-row">
            <div class="table-cell table-cell-date">Date start</div>
            <div class="table-cell table-cell-date">Date end</div>
            <div class="table-cell table-cell-project">Project</div>
            <div class="table-cell table-cell-status">Work</div>
            <div class="table-cell table-cell-status">Done</div>
            <div class="table-cell table-cell-status">Pay</div>
            <div class="table-cell table-cell-price">Price</div>
            <div class="table-cell table-cell-actions">Actions</div>
          </div>
        </div>

        <div class="table-content">

          <div class="table-row" v-for="project of projects" :key="project['.key']" v-if="project.is_edit">
            <div class="table-cell table-cell-date"><input type="text" class="date" v-model="project.date_start"></div>
            <div class="table-cell table-cell-date"><input type="text" class="date" v-model="project.date_end"></div>
            <div class="table-cell table-cell-project"><input type="text" v-model="project.site"></div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_work')" :class="{'fas': project.is_work, 'far': !project.is_work }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_done')" :class="{'fas': project.is_done, 'far': !project.is_done }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_pay')" :class="{'fas': project.is_pay, 'far': !project.is_pay }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-price"><input type="text" v-model="project.price"></div>
            <div class="table-cell table-cell-actions">
              <i @click="saveProject(project, true)" class="fas fa-check tc-icon tc-icon-blue"></i>
              <i @click="removeProject(project)" class="fas fa-trash-alt tc-icon tc-icon-red"></i>
            </div>
          </div>

          <div class="table-row" :class="{'completed': project.completed}" v-else>
            <div class="table-cell table-cell-date">{{project.date_start}}</div>
            <div class="table-cell table-cell-date">{{project.date_end}}</div>
            <div class="table-cell table-cell-project">{{project.site}}</div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_work')" :class="{'fas': project.is_work, 'far': !project.is_work }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_done')" :class="{'fas': project.is_done, 'far': !project.is_done }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-status">
              <i @click="switchStatus(project, 'is_pay')" :class="{'fas': project.is_pay, 'far': !project.is_pay }" class="fa-star tc-icon tc-icon-amber"></i>
            </div>
            <div class="table-cell table-cell-price">{{project.price}} UAH</div>
            <div class="table-cell table-cell-actions">
              <i @click="editProject(project)" class="fas fa-edit tc-icon tc-icon-blue"></i>
              <i @click="removeProject(project)" class="fas fa-trash-alt tc-icon tc-icon-red"></i>
            </div>
          </div>

        </div>

        <div class="table-footer">
            <div class="table-footer-info" id="table-footer-info">Total {{projects.length}} projects</div>
            <!--<div class="table-footer-paginate" id="table1_paginate">-->
              <!--<ul class="pagination">-->
                <!--<li class="paginate_button page-item previous disabled" id="table1_previous"><a href="#" class="page-link">Previous</a></li>-->
                <!--<li class="paginate_button page-item active"><a href="#" class="page-link">1</a></li>-->
                <!--<li class="paginate_button page-item "><a href="#" class="page-link">2</a></li>-->
                <!--<li class="paginate_button page-item "><a href="#" class="page-link">3</a></li>-->
                <!--<li class="paginate_button page-item "><a href="#" class="page-link">4</a></li>-->
                <!--<li class="paginate_button page-item "><a href="#" class="page-link">5</a></li>-->
                <!--<li class="paginate_button page-item "><a href="#" class="page-link">6</a></li>-->
                <!--<li class="paginate_button page-item next" id="table1_next"><a href="#" class="page-link">Next</a></li>-->
              <!--</ul>-->
            <!--</div>-->
        </div>

      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="copy">2018 &copy; RNDM</div>
  </footer>

</div>

<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
